@charset "UTF-8";
/**
 * Holisticon theme for reveal.js.
 *
 */
@font-face {
  font-family: "PT Sans";
  src: font-url("");
  src: font-url(?#iefix) format('eot'), inline-font-files("../fonts/PT_Sans.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PT Sans";
  src: font-url("");
  src: font-url(?#iefix) format('eot'), inline-font-files("../fonts/PT_Sans_Bold.woff");
  font-weight: bold;
  font-style: normal; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Calibri", "PT Sans", "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #666666; }

::-moz-selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: none; }

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #DE0027;
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #1952a0;
  text-decoration: none;
  transition: color .15s ease; }

.reveal a:hover {
  color: #2069cc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #0f305e; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #666666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #1952a0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #1952a0; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #1952a0; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #1952a0; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #1952a0; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #2069cc; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #2069cc; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #2069cc; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #2069cc; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #1952a0;
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*

Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>

*/
pre code {
  display: block;
  color: #000; }

pre .subst,
pre .title {
  font-weight: normal;
  color: #000; }

pre .comment,
pre .template_comment,
pre .javadoc,
pre .diff .header {
  color: #808080;
  font-style: italic; }

pre .annotation,
pre .decorator,
pre .preprocessor,
pre .pragma,
pre .doctype,
pre .pi,
pre .chunk,
pre .shebang,
pre .apache .cbracket,
pre .prompt,
pre .http .title {
  color: #808000; }

pre .tag .title,
pre .id,
pre .attr_selector,
pre .pseudo,
pre .literal,
pre .keyword,
pre .hexcolor,
pre .css .function,
pre .ini .title,
pre .css .class,
pre .list .title,
pre .clojure .title,
pre .nginx .title,
pre .tex .command,
pre .request,
pre .markdown .header,
pre .status {
  font-weight: bold;
  color: #1952a0; }

pre .attribute,
pre .rules .keyword,
pre .number,
pre .date,
pre .regexp,
pre .tex .special {
  font-weight: bold;
  color: #1952a0; }

pre .number,
pre .regexp {
  font-weight: normal; }

pre .string,
pre .value,
pre .filter .argument,
pre .css .function .params,
pre .apache .tag {
  color: #008000;
  font-weight: bold; }

pre .symbol,
pre .ruby .symbol .string,
pre .char,
pre .tex .formula {
  color: #000;
  background: #d0eded;
  font-style: italic; }

pre .phpdoc,
pre .yardoctag,
pre .javadoctag {
  text-decoration: underline; }

pre .variable,
pre .envvar,
pre .apache .sqbracket,
pre .nginx .built_in {
  color: #660e7a; }

pre .addition {
  background: #baeeba; }

pre .deletion {
  background: #ffc8bd; }

pre .diff .change {
  background: #bccff9; }

pre .markdown .strong {
  font-weight: bold; }

pre .markdown .strong {
  font-weight: bold; }

pre .markdown .emphasis {
  font-style: italic; }

.img-top div.slide-background.present {
  background-position: top; }

.img-left div.slide-background.present {
  background-position: left; }

.img-right div.slide-background.present {
  background-position: right; }

.img-bottom div.slide-background.present {
  background-position: bottom; }

.img-full .reveal blockquote {
  background-color: rgba(224, 224, 224, 0.8); }

.reveal .controls {
  width: 3em;
  height: 3em;
  zoom: 0.5 !important; }

.reveal section img {
  border: 0 !important;
  box-shadow: 0 0 0 !important; }

.reveal h1 {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: none; }

.reveal h2 {
  font-size: inherit;
  font-weight: bold; }

.reveal ul ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 75%; }

.reveal ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.reveal ul li {
  padding-left: 1ex;
  text-indent: -1em; }

.reveal ul li:not(:empty):before {
  content: "■";
  padding-right: 1ex;
  color: #DE0027; }

.reveal ul ul li:not(:empty):before {
  content: "□";
  color: #666666; }

.reveal code {
  font-family: monospace;
  font-size: 0.99em; }

.reveal blockquote {
  font-style: italic;
  font-size: 0.8em;
  text-align: left;
  width: auto;
  display: inline-block;
  padding-top: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  color: #666666;
  background-color: #e0e0e0; }

.reveal pre {
  box-shadow: none;
  background-color: #e0e0e0;
  padding: 0;
  width: auto;
  display: inline-block; }

.reveal pre code {
  padding: 10px 15px 15px 15px; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th,
.reveal table td {
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th {
  text-align: center; }

.reveal table td[align="right"] {
  text-align: right; }

.reveal table td[align="center"] {
  text-align: center; }

.reveal .controls div {
  opacity: 0.1; }

.reveal .slide-number {
  color: #666666;
  font-size: 0.8em;
  right: 120px; }

.reveal .pause-overlay {
  background-color: #fff; }

.reveal .slides section.title p {
  color: #8e9297; }

.reveal .slides table {
  border-color: #666666; }

.reveal .slides section.title {
  background-image: inline-image("../images/brand/holisticon-logo-standard.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%; }

.reveal .slides section {
  margin-top: -0.6em; }

.reveal .slides section.title h1 {
  margin-top: 4em;
  color: #8e9297; }

.checklist li:before {
  content: "▢"; }

footer {
  left: 20px;
  bottom: 20px;
  position: absolute;
  display: block;
  width: 240px; }

footer .holisticon-logo {
  opacity: 0.6; }

html, body, .reveal div big {
  font-size: 1.3em; }

@media screen {
  .reveal {
    -webkit-font-smoothing: antialiased; } }

@media screen and (max-width: 800px), screen and (max-height: 500px) {
  .reveal .controls {
    zoom: 0.5; }
  footer .holisticon-logo {
    width: 100px; } }
